.header-bg {
    display: flex;
    flex-direction: column;
    background-image: url(../images/header-bg.png);
    max-width: 1920px;
    width: 100%;
    height: 1080px;
    background-size: cover;
    background-color: aqua;
}
.nav-bar {
    display: flex;
    justify-content: flex-end;

}
.logo {
    margin: 40px auto 0 12%;
}
.nav-ul {
    display: flex;
    justify-content: space-between;
    width: 565px;
    /* max-width: 565px;
    width: 100%; */
    margin-top: 43px;
    margin-right: 37px;

}
.nav-ul li a {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;    
}
.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 428px;
    width: 100%;
    height: 109px;
    padding-left: 66px;
    background-color: #A80E0E;
}
.nav-menu img:nth-child(1),
.nav-menu img:nth-child(2) {
    margin-right: 55px;
}
button {
    width: 255px;
    height: 68px;
    border-radius: 90px;
    color: #A80E0E;
    font-size: 27px;
    background-color: #FFAA00;
    margin-left: 12%;
}
button:hover {
    transition-duration: 100ms;
    background-color: #d4b067;
}
.title {
    max-width: 517px;
    width: 100%;
    height: 254px;
    margin: 159px 0 105px 15%
}
.title h1 {
    font-size: 96px;
    color: #FFFFFF;
}
.title p {
    font-size: 30px;
    color: #FFFFFF;
    margin-top: 50px;
    width: 375px;
    height: 77px;
}
.nav-btn:hover {
    cursor: pointer;
}